label {
  margin-top: 0.75rem;
}

#botVersion{
  border-radius: 0.25rem;
  border: 0.05rem solid var(--second_text);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="%23007BFF"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  cursor: pointer
}

.chatbot-form-container{
  width: 100%;
}

.text-area {
  overflow-y: auto;
  resize: none;
  width: 100%;
  height: 5rem;
}

.back-button {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--primary);
}

.row {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 1rem;
}

.box-text {
  border-radius: 0.25rem;
  border: 0.05rem solid var(--second_text);
}

.chatbot-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.file-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed rgba(78, 77, 77, 0.53) 2px;
  cursor: pointer;
  padding: 8px 16px;
  width: auto;
}

.file-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}

.file-label {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border: none;
}

.file-name-display {
  width: 100%;
  display: inline;
  text-align: center;
  padding: 8px 0;
  vertical-align: middle;
}

.file-icon {
  margin-right: 10px; 
}

.button-submit {
  margin-top: 1rem;
  border-radius: 0.25rem;
  background-color: var(--primary);
}

.button-submit:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.error-message,
.success-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  background-color: #ffdddd;
  color: #ff0000;
}

.success-message {
  background-color: #ddffdd;
  color: #00aa00;
}

.show-message {
  display: block;
}

button {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
