.homepage {
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.homepage-nav {
  margin-top: 20px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #041e7d;
}

.nav-link:hover {
  color: #3d19c0;
}

.homepage-content {
  text-align: center;
  margin-top: 20px;
}
